S3_BUCKET=<yourbucket>

S3_ACCESS_KEY_ID=<yourKey>
S3_SECRET_ACCESS_KEY=<YourSecret>
S3_ENDPOINT=<yourEndpoint>
S3_REGION=us-east-1
S3_SECURE=False

DUCKDB_PATH=<PathTowhereyouWantDuckDb>

GOOGLE_API_KEY=<GoogleAIApiKeyIfUsed>